*{
	padding:0;
	margin:0;	
}
body{
	width:100%;
	height:100%;
	background-image:url(images/bg.jpg);	
}
div[class^=container]{
	width:720px;
	height:420px;
	margin:150px auto;
}
div[class^=container] div{
	outline:1px solid red;	
}
div.next{
	float:left;
	width:40px;
	height:inherit;
	background:url(images/next.png) no-repeat center;
	-webkit-transition:background 1s ease-in;
	border-top-left-radius: 25px 100px;
	border-bottom-left-radius: 25px 100px;

}
div.next:hover{
	background:rgba(0,0,0,0.4) url(images/next.png) no-repeat center;
	-webkit-transition:background 1s ease-in;
}
div.banner{
	float:left;
	width:640px;
	height:inherit;
	background:url(images/bg-banner.jpg) repeat-x;
	position:relative;
}

div.back{
	margin-left:680px;
	height:inherit;
	background:url(images/back.png) no-repeat center;
	-webkit-transition:background  1s ease-in;
	border-top-right-radius: 25px 100px;
	border-bottom-right-radius: 25px 100px;

}
div.back:hover{
	background:rgba(0,0,0,0.4) url(images/back.png) no-repeat center;
	-webkit-transition:background 1s ease-in;
}
.box1{
	width:80px;
	height:170px;
	position:absolute;
	top: 155px;
	left: 38px;
	outline:1px solid red;
}
.box2{
	width:115px;
	height:200px;
	position:absolute;
	top: 140px;
	left: 110px;
	outline:1px solid red;
}
.box3{
	width:170px;
	height:280px;
	position:absolute;
	top:100px;
	left:235px;
	outline:1px solid red;
}
.box4{
	width:115px;
	height:200px;
	position:absolute;
	top: 140px;
	right: 110px;
	outline:1px solid red;
}
.box5{
	width:80px;
	height:170px;
	position:absolute;
	top: 155px;
	right: 38px;
	outline:1px solid red;
}
